.sidebar {
  width: 250px;
  height: 100vh;
  background: #f9f9f9;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-family: 'poppins';
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.logo img {
  width: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.menu li:hover, .menu .active {
  background: #5b46f3;
  color: white;
  border-radius: 8px;
}

.menu li i {
  font-size: 18px;
}

/* Upgrade to Pro Section */
.upgrade-box {
  background: linear-gradient(45deg, #a855f7, #4f46e5);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 150px;
}

.upgrade-box button {
  background: white;
  color: #4f46e5;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.upgrade-box button:hover {
  background: #ddd;
}

/* User Profile */
.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info span {
  font-size: 14px;
  font-weight: bold;
}

.user-info small {
  font-size: 12px;
  color: gray;
}